.gradle/
.gradle-user-home/
build/
out/
run/
runs/
outputs/
run-client-production-verification*/
run-production-*/
run-server-production-verification*/
*.log
*.iml
.idea/
.vscode/
Thumbs.db
desktop.ini

# Local mod dependencies
libs/*.jar
